<launch>
      <param name="ip" type="string" value="127.0.0.1"/>
      <param name="port" type="string" value="5000"/>
    <node name="xela_1" pkg="my_xela_initial"
          type="xela_pub_1_calibrated.py"/>
    <node name="xela_2" pkg="my_xela_initial"
          type="xela_pub_2_calibrated.py"/>
</launch>
